<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/snow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/snow"
        android:supportsRtl="true"
        android:theme="@style/Theme.SookPlace"
        tools:targetApi="31">
        <!--네이버지도API-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="c1j6y5byty" />

        <activity
            android:name=".ui.community.postWrite.PostWriteRestaurantSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.mypost.MyPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.myplace.MyPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.postWrite.PostWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.postDetail.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.restaurantDetail.RestaurantDetailActivity"
            android:exported="false" />

        <!-- [여기가 추가된 부분입니다!] 알림 설정 & 계정 관리 화면 등록 -->
        <activity
            android:name=".ui.mypage.settings.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.settings.AccountManagementActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>